body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF; }

img {
    display: block;
}




.header {
border-bottom: 1px solid #e7e9fc;
}


.cotainer {
width: 1440px; 
height: 72px;
display: flex;
width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;


}

.studio:focus {
color: #404bbf;}

.nav-menu {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}

.webstudio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height : 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.studio span {color: #2e2f42;}


.studio  {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
color: #2e2f42;
}
.menu-heder:hover 
{
color: #404bbf;
}
.menu-heder:focus{color: #404bbf; }


.menu-heder {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 

}

.menu-heder-lu { 
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
        
 }



ul li {list-style: none;}

.menu-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42}

.address {font-style: normal}

.address-ul {
display: flex;
gap: 40px;
margin-top: 24px;
margin-right: 0;

}

.address-use {

font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-use:hover,:focus {color: #404bbf}


.address-use {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-use:hover,:focus {color: #404bbf
}



.conteiner-main-section {
max-width: 496px;}



.mains {
}

.main-section {
background: #2e2f42;
padding-top: 188px;
padding-bottom: 188xp;

}

.effectiv {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.button-order-service {
background-color: #404BBF;
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}
.button{background-color: #404BBF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5}

.button:hover{background-color: #404BBF}
.button:focus{background-color: #404BBF}
.button-order-service:hover {
    background-color: #404BBF;
}
.button-order-service:focus {
    background-color: #404BBF;
}



.section-two {
    padding: 188px 0;
}

.spdt-ul {
    display: flex;
    gap: 24px;
    margin-right: 0;
}

.spdt-spdt-p {
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
}

.spdt {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.spdt-p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.section-three {background-color: #F4F4FD}

.team {font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
text-transform: capitalize}

.team-ul {background-color: #FFFFFF}

.eam-li {background-color: #FFFFFF}

.team-man {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.hup-p {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.section-4 {}

.our {font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42; }

.our-ul {}

.our-li {}

.bcm {font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.amm {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}


.section-5-ul {}

.section-5-li {}

.foot {background: #2e2f42;}

.footer-p {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
color:#F4F4FD; 
}

.studio-footer {color: #2e2f42;}

.studio-footer {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;;
color: #f4f4fd}

.webstudio-footer {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;}
