і b21f2b7 css\styles.css
}

.eam-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);

}

.team-man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.hup-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our {
    font-weight: 700;

    @@ -338, 7+336, 7 @@ color: #2e2f42;
}

flex-wrap: wrap;